
.meImageCrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.meImageCrop .meImageCrop-canvas {
	background: #000;
	width: 100%;
	height: 100%;
	background-color: rgb(250, 250, 250);
	background-image: linear-gradient(45deg, rgb(224, 224, 224) 25%, transparent 25%, transparent 75%, rgb(224, 224, 224) 75%), linear-gradient(45deg, rgb(224, 224, 224) 25%, transparent 25%, transparent 75%, rgb(224, 224, 224) 75%);
	background-size: 36px 36px;
	background-position: 0px 0px, 18px 18px;
}

.meImageCrop .meImageCrop-btns {
	position: absolute;
}

.meImageCrop .meImageCrop-btns .meImageCrop-btn {
	display: inline-block;
	margin-left: 15px;
	background-size: 100% 100%;
}